.wrapper {
    padding: 52px 120px;
    position: relative;

    @media (max-width: 1023px) {
        padding: 32px 16px;
    }
}

.wrapper_bg-blue {
    @extend .wrapper;
    background: #E3EDFD;
}

.discover__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #1E1E1E;

    @media (max-width: 767px) {
        font-size: 7vw;
        line-height: 7vw;
        font-weight: 400;
    }
}

.discover__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
    margin-top: 24px;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.card {
    width: 32%;
    position: relative;
    transition: all 0.2s ease;
    border: 2px solid transparent;
    border-radius: 18px;
    cursor: pointer;


    &:hover {
        border: 2px solid #8AADD8;
        transition: all 0.5s ease;
    }

    &::before {
        font-size: 2.7vw;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -0.011em;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        color: #25436D;
        z-index: 1;

        @media (max-width: 1439px) {
            font-size: 34px;
            top: 100px;
        }

        @media (max-width: 1023px) {
            font-size: 3vw;
            top: 5vw;
        }

        @media (max-width: 767px) {
            font-size: 7vw;
            top: 9vw;
        }
    }

    @media (max-width: 1439px) {
        width: 30%;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: fit-content;
        border-radius: 12px;
    }
}

.card_services {
    @extend .card;

    &::before {
        content: 'Services';
    }
}

.card_partnership {
    @extend .card;

    &::before {
        content: 'Partnership';
    }
}

.card_products {
    @extend .card;

    &::before {
        content: 'Products';
    }
}