.popover {
    border: none;
    margin-top: 23px;

    &>div {
        box-shadow: 0px 0px 4px 0px #25436D4D;
        border-radius: 14px 0px 14px 14px;
    }
}

.popover__wrapper {
    padding: 16px;
    width: 269px;

    .popover__menu-section:not(:last-child) {
        padding-bottom: 12px;
        border-bottom: 1px solid #BAD2F9;
    }

    .popover__menu-section:not(:first-child) {
        margin-top: 12px;
    }
}

.popover__top {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;

    @media (max-width: '767px') {
        margin-left: 0;
    }
}

.popover__menu-item {
    padding: 0 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1E1E1E;
    margin-top: 0;
    padding-bottom: 0;
    font-weight: 400;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    cursor: pointer;
    transition: color 0.2s;

    img {
        transition: color 0.2s;
        width: 18px;
        height: 18px;
    }


    &:hover {
        color: #8B8A8A;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.popover__menu-item_heading {
    @extend .popover__menu-item;

    font-weight: 700;
    padding-left: 22px;
    pointer-events: none;
}

.popover__menu-item_org {
    margin-left: 15px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 14px;

    img {
        width: 28px;
        height: 28px;
    }
}

.popover__wrapper_mobile {
    padding: 44px 14px;
    width: 100%;

    .popover__menu-section:not(:last-child) {
        padding-bottom: 18px;
        border-bottom: 1px solid #BAD2F9;
    }

    .popover__menu-section:not(:first-child) {
        margin-top: 18px;
    }

    .popover__menu-item {
        padding: 0 84px;
        position: relative;

        @media (max-width: 375px) {
            padding: 0 45px;
        }
    }
}

.popover__menu-item_dot {
    @extend .popover__menu-item;
    @extend .popover__menu-item_heading;

    display: list-item;
    padding: 0 !important;
    margin-left: 84px;

    @media (max-width: 375px) {
        margin-left: 45px;
    }
}

.popover__menu-top-item {
    @extend .popover__menu-item_heading;
    padding: 0 !important;
}

.popover__menu-top-item_grey {
    @extend .popover__menu-top-item;
    color: #8B8A8A;
}

.popover__cross {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    right: 31px;
    cursor: pointer;
}

.popover_discover {
    border: none;

    .MuiPaper-root {
        box-shadow: 0px 0px 4px 0px #25436D4D;
    }
}

.popover_discover__wrapper {
    padding: 20px 22px;
    width: 285px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    &>div {
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: #8B8A8A;
        }
    }

    &>div:not(:last-child) {
        margin-bottom: 8px;
    }
}

.popover_partners {
    @extend .popover_discover;
}

.popover_partners__wrapper {
    @extend .popover_discover__wrapper;
    width: 152px;
    background: #BAD2F9;
}